body {
	margin: 0;
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: baseline;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
ul {
	list-style: none;
	padding: none !important;
}
a {
	text-decoration: none;
}

.join-btn {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-right: 15px;
}

.have-an-account {
	margin-top: 5px;
}

.select-opt-dd {
	width: 20%;
	height: 20px;
	color: #72767d;
	border: 1px solid #282a2e;
	border-radius: 5px;
	padding: 10px 10px;
}
.select-opt-yy {
	width: 25%;
	height: 20px;
	color: #72767d;
	border: 1px solid #282a2e;
	border-radius: 5px;
	padding: 10px 10px;
}
.select-arrow {
	width: 20px;
	align-self: flex-start;
}
.select-arrow > img {
	width: inherit;
}

.dropdown-mm,
.dropdown-dd,
.dropdown-yy {
	background-color: #313339;
	position: absolute;
	bottom: 236.5px;
	max-height: 190px;
	overflow-y: scroll;
	border: 2px solid #282a2e;
}
.dropdown-mm {
	left: 470px;
	width: 11.8vw;
}
.dropdown-dd {
	left: 645px;
	width: 7.5vw;
}
.dropdown-yy {
	left: 760px;
	width: 9vw;
}
.dropdown-ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.dropdown-item {
	padding: 7.5px;
	padding-right: 8px;
	font-weight: 600;
	color: #dcddde;
}
.dropdown-item:hover {
	background-color: black;
}

.selected {
	color: #dcddde;
	font-weight: 600;
}
.selection {
	background-color: #222428;
}
