.main-container {
	display: flex;
	min-height: 100vh;
}

.loading-div {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #202225;
	color: white;
}
.contacts-container {
	display: flex;
	position: fixed;
	height: 100%;
	flex-direction: column;
	width: 6%;
	background-color: #202225;
	color: #8e9297;
	font-size: 16px;
	line-height: 16px;
	font-weight: 600;
	overflow-y: scroll;
	align-items: flex-end;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.contacts-container::-webkit-scrollbar {
	display: none;
}
.contacts-item {
	padding: 15px 10px;
	border: 7px solid #2f3136;
}
.contacts-item:hover {
	background-color: #393c42;
	border: 7px solid #2f3136;
}
.contact-title {
	padding: 8px 6px;
	border-bottom: 1px solid gray;
}
.chat-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-width: 61%;
	background-color: #36393f;
	color: #dcddde;
	margin-right: 20%;
	margin-left: 23%;
	min-height: 0;
}
.username {
	color: #fff;
	font-weight: 600;
}
.username:hover {
	border-bottom: 1px solid #fff;
	cursor: pointer;
}
.chat-input {
	position: fixed;
	bottom: 0;
	background-color: #36393f;
	width: 59.7%;
}
.chat-input > input {
	width: 80%;
	box-sizing: border-box;
	margin: 5px 0px;
	margin-top: none;
	margin-bottom: 7px;
	height: 6vh;
	border-radius: 5px;
	background-color: #40444b;
	border: none;
	color: white;
	padding-left: 10px;
	padding-right: 5px;
	overflow-wrap: break-word;
	margin-left: 10px;
}

.chat-input > input:focus {
	outline: none;
}
.message-container:first-child {
	margin-top: auto;
}
.message-container {
	display: flex;
	margin-top: 20px;
	margin-left: 15px;
}
.messages {
	margin-left: 20px;
	overflow-wrap: break-word;
	margin-bottom: 10px;
}
.message-container .messages:first-child {
	margin-top: auto;
}
.message-container .messages:last-child .msg {
	margin-bottom: unset;
	height: 7px;
}
.continue .messages .msg {
	margin-top: unset;
	margin-left: 55px;
	height: 7px;
}

.continue .profile-pic,
.continue .username {
	display: none;
}
.style-display {
	border-radius: 50%;
}
.server-icon[data-letters]:before {
	content: attr(data-letters);
	display: inline-block;
	font-size: 1em;
	width: 3.1em;
	height: 3.1em;
	line-height: 2.5em;
	text-align: center;
	border-radius: 50%;
	background: #36393f;
	vertical-align: middle;
	margin-right: 1em;
	color: white;
}
.server-icon {
	margin: 5px 0;
}

.channels-container {
	width: 17%;
	background-color: #2f3136;
	color: #ffffff;
	position: fixed;
	margin-left: 6%;
	height: 100%;
}
.channels-container > a {
	color: #ffffff !important;
	text-decoration: none !important;
}
.channel-link {
	color: #8e9297;
	text-decoration: none !important;
	display: block;
	text-transform: lowercase;
	font-size: 16px;
	margin-right: 5px;
	font-weight: 600;
}
.channel-link:hover {
	background-color: #393c42;
}
.channel-selected {
	color: #ffffff;
	background-color: #393c42;
	margin-right: 5px;
	font-weight: 600;
}
.channel-title {
	padding: 15px 32px;
	padding-left: 12px;
	font-size: 16px;
	line-height: 16px;
	font-weight: 600;
	border-bottom: 3px solid #2b2e33;
}
.channel-subtitle {
	color: #8e9297;
	margin-top: 10px;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	outline: #393c42;
	display: flex;
	justify-content: space-between;
}
.category-name:hover {
	color: #dcddde;
}
.category-name {
	margin-left: 5px;
}
.hashtag {
	font-size: 22px;
	margin: 0 5px;
	color: #8e8e8e;
	font-weight: 600;
}
.category-add {
	margin-right: 5px;
	cursor: pointer;
}
.category-add:hover {
	color: #dcddde;
}
.server-users {
	position: fixed;
	right: 0;
	height: 100%;
	bottom: 0;
	background-color: #2f3136;
	width: 16%;
	color: #ffffff;
}
.user {
	font-size: 16px;
	color: #8e8e8e;
	padding: 15px 32px;
	font-weight: 600;
	line-height: 16px;
}
.online {
	font-size: 16px;
	color: #8e8e8e;
	font-weight: 600;
	line-height: 16px;
	padding: 12px 28px;
}
.user:hover {
	background-color: #393c42;
	color: #ffffff;
}
.chat-messages {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	scrollbar-color: #202225 #2f3136;
	height: 92.6vh;
}
.header {
	position: fixed;
	left: 23%;
	height: 7%;
	background-color: #2f3136;
	color: #ffffff;
	width: 61%;
	border-bottom: 3px solid #2b2e33;
	top: 0;
	vertical-align: bottom;
}
.endRef {
	margin-bottom: 9%;
}
.category-add .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #202225;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	text-transform: capitalize;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}
.category-add:hover .tooltiptext {
	visibility: visible;
}
.channel-modal,
.server-modal {
	background-color: unset !important;
	background-color: white !important;
	position: absolute;
	left: 36vw;
	padding: 16px 32px;
	height: 76%;
	top: 10%;
	width: 25vw;
	color: #060607 !important;
	border-radius: 5px;
}

.ReactModalPortal .ReactModal__Overlay.ReactModal__Overlay--after-open {
	background-color: rgba(6, 7, 8, 0.8) !important;
}
.close-modal {
	background-color: white;
	border: none;
	cursor: pointer;
	position: relative;
	float: left;
	font-size: 18px;
	font-weight: 500;
	color: #4f5660;
}
.modal-title {
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}
.modal-subtitle {
	font-size: 16px;
	color: #4f5660;
}
.join-div,
.create-div {
	color: #4f5660;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	margin-top: 15px;
}
.join-input-div > input,
.create-input-div > input {
	margin: 12px 0;
	background-color: #e0e2e5;
	width: 90%;
	border: none;
	padding: 12px 12px;
	outline: none;
	color: #2e3338;
	font-weight: 600;
}

.modal-btn {
	background-color: #5865f2;
	color: #ffffff;
	border: none;
	font-weight: 600;
	text-transform: capitalize;
	float: right;
	margin: 10px 0;
	padding: 16px 14px;
	border-radius: 3px;
	font-size: 12px;
	line-height: 16px;
	cursor: pointer;
}

.channel-modal {
	background-color: #36393f !important;
	color: #ffffff !important;
}
.channel-modal .create-input-div > input {
	color: #ffffff !important;
	background-color: #313339 !important;
}
.channel-modal .create-input-div > input::placeholder {
	color: #54575d !important;
}
.channel-modal .create-div {
	color: #dcddde !important;
}
.channel-modal {
	height: 30%;
	margin-top: 10%;
}
.channel-modal .close-modal {
	color: #55585d;
	background-color: #36393f;
}
.channel-modal .close-modal:hover {
	color: #fff;
}
.logout {
	position: absolute;
	background-color: #292b2f;
	width: 16.22vw;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 5px;
	color: #ffffff;
	margin-left: 6%;
	bottom: 0;
}
.logout > button {
	border: none;
	background-color: #292b2f;
	color: #ed4245;
	font-weight: 600;
	line-height: 18px;
	cursor: pointer;
}
.time {
	color: #72767d;
	margin-left: 5px;
	font-size: 12px;
}
.profile-pic > img {
	width: 40px;
}
.home {
	border-bottom: #54575d;
	border-width: 2px;
	margin-right: 20px;
}
.dms{
	position: absolute;
	margin-left: 10%;
}