.main-container {
	display: flex;
	min-height: 100vh;
}
.contacts-container {
	display: flex;
	position: fixed;
	height: 100%;
	flex-direction: column;
	width: 6%;
	background-color: #202225;
	scrollbar-color:#202225 #2f3136 ;
	color: #8e9297;
	font-size: 16px;
	line-height: 16px;
	font-weight: 600;
	display: flex;
	overflow-y: scroll;
	align-items: flex-end;
	scroll-behavior: auto;
}
.contacts-item {
	padding: 15px 10px;
	border: 7px solid #2f3136;
}
.contacts-item:hover {
	background-color: #393c42;
	border: 7px solid #2f3136;
}
.contact-title {
	padding: 8px 6px;
	border-bottom: 1px solid gray;
}
.chat-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-width: 61%;
	background-color: #36393f;
	color: #dcddde;
	margin-right: 20%;
	margin-left: 23%;
}
.username {
	color: #fff;
	font-weight: 600;
	margin-left: 0px;
}
.username:hover {
	border-bottom: 1px solid #fff;
	cursor: pointer;
}
.chat-input{
	position: fixed;
	bottom: 0;
	background-color: #36393f;
	width: 59.7%;
}
.chat-input > input {
	width: 80%;
	box-sizing: border-box;
	margin: 5px 0px;
	margin-top: none;
	margin-bottom: 7px;
	height: 6vh;
	border-radius: 5px;
	background-color: #40444b;
	border: none;
	color: white;
	padding-left: 10px;
	padding-right: 5px;
	overflow-wrap: break-word;
	margin-left: 10px;
}

.chat-input > input:focus {
	outline: none;
}

.messages {
	margin-left: 5px;
	overflow-wrap: break-word;
}
.messages:last-child{
	margin-bottom: 10%;
}
.style-display {
	border-radius: 50%;
}
.server-icon[data-letters]:before {
	content: attr(data-letters);
	display: inline-block;
	font-size: 1em;
	width: 3.1em;
	height: 3.1em;
	line-height: 2.5em;
	text-align: center;
	border-radius: 50%;
	background: #36393f;
	vertical-align: middle;
	margin-right: 1em;
	color: white;
}
.server-icon {
	margin: 5px 0;
}

.channels-container {
	width: 17%;
	background-color: #2f3136;
	color: #ffffff;
	position: fixed;
	margin-left: 6%;
	height: 100%;
}
.channels-container > a {
	color: #ffffff !important;
	text-decoration: none !important;
}
.channel-link {
	color: #8e9297;
	text-decoration: none !important;
	display: block;
	text-transform: lowercase;
	font-size: 16px;
	margin-right: 5px;
	font-weight: 600;
}
.channel-link:hover {
	background-color: #393c42;
}
.channel-selected {
	color: #ffffff;
	background-color: #393c42;
	margin-right: 5px;
	font-weight: 600;
}
.channel-title {
	padding: 15px 32px;
	padding-left: 12px;
	font-size: 16px;
	line-height: 16px;
	font-weight: 600;
	border-bottom: 3px solid #2b2e33;
}
.channel-subtitle {
	color: #8e9297;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	outline: #393c42;
	display: flex;
	justify-content: space-between;
}
.category-name:hover {
	color: #dcddde;
}
.category-name {
	margin-left: 5px;
}
.hashtag {
	font-size: 22px;
	margin: 0 5px;
	color: #8e8e8e;
	font-weight: 600;
}
.category-add {
	margin-right: 5px;
}
.category-add:hover {
	color: #dcddde;
}
.server-users {
	position: fixed;
	right: 0;
	height: 100%;
	bottom: 0;
	background-color: #2f3136;
	width: 16%;
	color: #ffffff;
}
.user {
	font-size: 16px;
	color: #8e8e8e;
	padding: 15px 32px;
	font-weight: 600;
	line-height: 16px;
}
.online {
	font-size: 16px;
	color: #8e8e8e;
	font-weight: 600;
	line-height: 16px;
	padding: 12px 28px;
}
.user:hover{
	background-color: #393c42;
	color: #ffffff;
}
.chat-messages{
	overflow-y: scroll;
	scrollbar-color:#202225 #2f3136 ;
	height: 92.6vh;
}
.header{
	position: fixed;
	left: 23%;
	height: 7%;
	background-color: #2f3136;
	color: #ffffff;
	width: 61%;
	border-bottom: 3px solid #2b2e33;
	top: 0;
}