.main-container {
	display: flex;
	min-height: 100vh;
}

.contacts-item {
	padding: 15px 10px;
	border: 7px solid #2f3136;
}
.contacts-item:hover {
	background-color: #393c42;
	border: 7px solid #2f3136;
}

.username {
	color: #fff;
	font-weight: 600;
}
.username:hover {
	border-bottom: 1px solid #fff;
	cursor: pointer;
}

.message-container:first-child {
	margin-top: auto;
}
.message-container {
	display: flex;
	margin-top: 20px;
	margin-left: 15px;
}
.messages {
	margin-left: 20px;
	overflow-wrap: break-word;
}
.message-container .messages:first-child {
	margin-top: auto;
}
.message-container .messages:last-child .msg {
	position: relative;
}

.continue .messages .msg {
	margin-top: unset;
	margin-left: 55px;
	position: relative;
}

.continue .profile-pic,
.continue .username {
	display: none;
}
.style-display {
	border-radius: 50%;
}

.category-add {
	margin-right: 5px;
	cursor: pointer;
}
.category-add:hover {
	color: #dcddde;
}

.endRef {
	margin-bottom: 4%;
}
.category-add .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #202225;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	text-transform: capitalize;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	left: 50%;
}
.category-add:hover .tooltiptext {
	visibility: visible;
}
.channel-modal,
.server-modal {
	background-color: unset !important;
	background-color: white !important;
	position: absolute;
	left: 36vw;
	padding: 16px 32px;
	height: 76%;
	top: 10%;
	z-index: 100023;
	width: 25vw;
	color: #060607 !important;
	border-radius: 5px;
}

.ReactModalPortal .ReactModal__Overlay.ReactModal__Overlay--after-open {
	z-index: 100004;
	background-color: rgba(6, 7, 8, 0.8) !important;
}
.close-modal {
	background-color: white;
	border: none;
	cursor: pointer;
	position: relative;
	float: left;
	font-size: 18px;
	font-weight: 500;
	color: #4f5660;
}
.modal-title {
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}
.modal-subtitle {
	font-size: 16px;
	color: #4f5660;
}
.join-div,
.create-div {
	color: #4f5660;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	margin-top: 15px;
}
.join-btn {
	min-height: 1%;
	border: none;
	color: #3ba55d;
	font-size: 25px;
	font-weight: 600;
	vertical-align: middle;
	background-color: #36393f;
	transition: color 200ms ease-in;
	transition: background-color 300ms ease-in;
	transition: border-radius 500ms linear;
}
.join-btn:hover {
	background-color: #3ba55d;
	border-radius: 10px;
	color: #36393f;
	transition: color 500ms ease-in;
	transition: background-color 300ms ease-in;
	transition: border-radius 500ms linear;
}
.join-input-div > input,
.create-input-div > input {
	margin: 12px 0;
	background-color: #e0e2e5;
	width: 90%;
	border: none;
	padding: 12px 12px;
	outline: none;
	color: #2e3338;
	font-weight: 600;
}

.modal-btn {
	background-color: #5865f2;
	color: #ffffff;
	border: none;
	font-weight: 600;
	text-transform: capitalize;
	float: right;
	margin: 10px 0;
	padding: 16px 14px;
	border-radius: 3px;
	font-size: 12px;
	line-height: 16px;
	cursor: pointer;
}

.channel-modal {
	background-color: #36393f !important;
	color: #ffffff !important;
}
.channel-modal .create-input-div > input {
	color: #ffffff !important;
	background-color: #313339 !important;
}
.channel-modal .create-input-div > input::placeholder {
	color: #54575d !important;
}
.channel-modal .create-div {
	color: #dcddde !important;
}
.channel-modal {
	height: 30%;
	margin-top: 10%;
}
.channel-modal .close-modal {
	color: #55585d;
	background-color: #36393f;
}
.channel-modal .close-modal:hover {
	color: #fff;
}
.logout {
	position: absolute;
	background-color: #292b2f;
	width: 16.22vw;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 5px;
	color: #ffffff;
	bottom: 0;
}
.logout > button {
	border: none;
	background-color: #292b2f;
	color: #ed4245;
	font-weight: 600;
	line-height: 18px;
	cursor: pointer;
}
.time {
	color: #72767d;
	margin-left: 5px;
	font-size: 12px;
}
.profile-pic > img {
	width: 40px;
}
.home {
	border-bottom: #54575d;
	border-width: 2px;
	margin-right: 20px;
}

.profile-dropdown {
	position: relative;
	background-color: #18191c;
	box-shadow: 0px 6px 8px 0px #313339;
	z-index: 5;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	right: 16vw;
	height: 22vh;
	width: 20vw;
}
.profile-dropdown .input {
	width: 15vw;
}
.profile-dropdown .input::placeholder {
	text-transform: capitalize;
}
.close-dropdown {
	padding-right: 10px;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 20px;
	cursor: pointer;
	font-weight: 600;
}

.dm-username {
	margin-left: 10px;
}
.dm-selected {
	background-color: #393c42;
	border-radius: 5px;
}

.error-msg {
	margin-top: 100px;
	padding: 15px;
	background-color: #dc3545;
	color: #ffffff;
	font-weight: 600;
}
@media screen and (max-width: 800px) {
	.message-container {
		margin-bottom: 10px;
	}
	.continue {
		margin-top: unset;
	}
	.logout {
		width: 97%;
	}
	.server-modal {
		width: 75%;
		left: 5%;
	}
	.channel-modal {
		width: 75%;
		left: 4.5%;
	}
	.trigram-right {
		margin-left: auto;
	}
	.profile-dropdown {
		width: 60vw;
		right: 40vw;
		height: 20vh;
		padding: 16px;
	}
}
